* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 25%;
  height: auto;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

body {
  background: url("images/dragons.jpg") no-repeat;
  background-repeat: round;
  font-family: 'MedievalSharp', cursive;
}

.navlinks {
    text-decoration: none;
    color: rgb(226, 16, 32);
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  background: rgb(231, 231, 219);
  border: 2px solid rgba(0, 0, 0, 0.5);
  height: 65px;
}

.main-bar {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.drop-button, .drop-content {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(231, 231, 219);
  font-family: 'MedievalSharp', cursive;
  font-size: 15px;
  color: rgb(104, 167, 188);
}

.drop-content {
  display: none;
  position: absolute;
  border: 1px solid black;
}

.drop-content div {
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px 5px;
  text-align: center;
}

.dropdown:hover .drop-content{
  display: block;
  overflow: visible;
}

.dropdown:hover .drop-button {
  background-color: rgb(104, 167, 188);
  color: rgb(231, 231, 219);
}

.drop-content div:hover {
  background-color: rgb(104, 167, 188);
  color: rgb(231, 231, 219);
}

.container{
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.char-info {
  height: 500px;
  width: 75%;
  /* background: radial-gradient(rgb(100, 36, 38), rgb(193, 153, 123)); */
  border-radius: 10px;
}
