:root {
  --tan: rgb(231, 231, 219);
  --red: rgb(226, 16, 32);
  --blue: rgb(104, 167, 188);
}

body {
  /* box-model */
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;

  /* positioning */
  position: relative;

  /* typography */
  font-family: 'MedievalSharp', cursive;

  /* visual */
  background: url("dragons.jpg") no-repeat;
  background-attachment: fixed;
  background-repeat: round;
}

.logo {
  /* box-model */
  width: 25%;
  margin-top: 10px;
  margin-right: auto;
  height: auto;
  display: inline-block;
}

.navbar {
  /* box-model */
  margin-top: -10px;
}

.navbar,
footer {
  /* box-model */
  width: 100%;
  height: 65px;
  display: flex;

  /* typography */
  font-size: 20px;

  /* visual */
  background: var(--tan);
  border: 2px solid rgba(0, 0, 0, 0.5);
}

footer {
  /* box-model */
  margin-bottom: -15px;
  width: 100%;

  /* positioning */
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;

  /* typography */
  color: var(--red);
}

footer p {
  font-size: 15px;
}

.main-bar {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}

.btns {
  margin: 5px;
  min-width: 100px;
  flex: 1;
  padding: 5px 0px;
}

.battle,
.modal-btn,
.home-btn {
  border-radius: 10px;
  border: 1px solid black;
  background-color: var(--tan);
  font-family: 'MedievalSharp', cursive;
  font-size: 15px;
  color: var(--blue);
  cursor: pointer;
}

.battle-btn {
  text-decoration: none;
  color: var(--blue);
}

.drop-button,
.drop-content {
  border-radius: 10px;
  border: 1px solid black;
  background-color: var(--tan);
  font-family: 'MedievalSharp', cursive;
  font-size: 15px;
  color: var(--blue);
  cursor: pointer;
}

.drop-content {
  display: none;
  flex-direction: column;
  position: absolute;
  border: 1px solid black;
}

.drop-content li {
  display: flex;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px 5px;
  text-align: center;
  list-style-type: none;
  justify-content: center;
  margin-right: 10px;
  margin-left: -30px;
}

.dropdown:hover .drop-content {
  display: flex;
  overflow: visible;
}

.dropdown:hover .drop-button,
.battle:hover,
.home-btn:hover,
.modal-btn:hover,
.battle-btn:hover {
  background-color: var(--blue);
  color: var(--tan);
}

.drop-content li:hover {
  background-color: var(--blue);
  color: var(--tan);
}

.container {
  display: flex;
  justify-content: center;
  min-width: 100px;
}

.char-info {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  min-width: 100px;
  border-radius: 10px;
  margin: 0 auto;
  overflow: auto;
  margin-bottom: 10px;
}

.photo-box {
  display: none;
  height: 200px;
  width: 200px;
  border: 1px solid white;
  margin-left: 15px;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.photo {
  width: 100%;
  height: auto;
  display: inline-block;
}

.class-info {
  border: 1px solid white;
  margin-left: 25px;
  margin-top: 10px;
  height: 200px;
  width: 58.5%;
  color: white;
  overflow: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}

.class-info h1 {
  font-size: 40px;
  color: var(--blue);
  margin: 10px;
}

.class-info p, .box-2 p {
  padding: 0px 15px;
  color: var(--tan);
}

.misc-info {
  display: none;
  flex-direction: column;
  height: 250px;
  width: 36%;
  margin-left: 15px;
  border: 1px solid white;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  color: var(--tan);
}

.box-2 {
  margin-left: 15px;
}

.misc-info li {
  padding: 15px 5px 5px 7px;;
  color: var(--blue);
  font-size: 20px;
}

.misc-info span {
  color: var(--red);
  font-size: 18px;
}

.box-2 h2 {
  text-align: center;
  color: var(--blue);
}



/* responsive modal */
#modal-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  border: 1px solid white;
  background-color: rgba(231, 231, 219, 1);
  z-index: 1;
  box-shadow: 20px 20px 50px grey;
  overflow: auto;
  border: 4px solid rgb(0, 0, 0, .75);
}

.modal-inside {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  flex-direction: column;
}

.close {
  font-size: 40px;
  text-align: right;
  padding-right: 5px;
  margin-top: -5px;
  color: var(--red);
  cursor: pointer;
  height: 10px;
}

.modal-inside h1 {
  display: flex;
  margin: 0 auto;
  color: var(--blue);
  margin-top: -3px;
}

.gen-info li {
  padding: 0px 5px 5px 0px;
  text-align: left;
  font-size: 18px;
  color: var(--red);
}

.gen-info span {
  color: rgb(90, 90, 90);
}

/* Query for small screens */
@media only screen and (max-width: 600px) {

body {
  position: relative;
  min-height: 100vh;
}

.navbar {
  top: 0;
  padding-bottom: 30px;
}

.logo {
  display: none;
}

.main-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.char-info {
  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
}

}

/* Query for large screens */
